
<div class="jumbotron" style="background:#FFFF00 !important">
<h2><font color="red"><i class="fa fa-graduation-cap fa-5x" aria-hidden="true" ></i>DNETP : GESTION DU FLUX SCOLAIRE</font></h2>
<p>
	<i>Cette application permet de gérer le flux scolaire (Ecoles professionnelles et Techniques au MALI)</i>
</p>
<button class="btn btn-primary btn-lg">Se connecter</button>
</div>

<div class="col-xs-12 col-md-12">
      <!-- Main jumbotron for a primary marketing message or call to action -->
<h1 class="text-center">Fonctionnalités de l'application</h1>
<hr size="5" color="red">
<div class="col-xs-12 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Gestion des Elèves</h3>
      </div>
      <div class="panel-body">
        <ol>
          <li>Gestion des élèves</li>
          <li>Transfert, Réorientation</li>
          <li>Parcelle</li>
          <li>Orientation</li>
          <li>Rapports des Etablissements</li>
          <li>Historique des Elèves</li>
          <li>Gestion des reliquats clients</li>
        </ol>
      </div>
    </div>
  </div>

<div class="col-xs-12 col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Gestion des Académies</h3>
      </div>
      <div class="panel-body">

        <ol>
          <li>Gestion des académies</li>
          <li>Gestion des Etablissements</li>
          <li>Gestion des CAP</li>
          <li>Statistique des Académies</li>
        </ol>

      </div>
    </div>
  </div>

<div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Statistiques</h3>
      </div>
      <div class="panel-body">

        <ol>
          <li>Cumul des élèves par Region</li>
          <li>Cumul des élèves par Académies</li>
          <li>Cumul des élèves par Section</li>
          <li>Cumul des élèves par Filière</li>
          <li>Cumul des élèves par Classe(Promotion)</li>
          <li>Cumul par type d'enseignement (Privé ou Publique)</li>
          <li>Cumul par sexe (Masculin ou Feminin)</li>
          <li>Archivage et Sauvegarde de la BD</li>
        </ol>

      </div>
    </div>
  </div>

    </div>
</div>