<style>
.navbar-custom {
  background-color:#229922;
    color:#ffffff;
    border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
  background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}
     
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
</style>
<div class="navbar navbar-default navbar-custom navbar-fixed-top" >
<div>
<p>
</p>
</div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/index" id="logo">DNETP</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=""><a class="glyphicon glyphicon-home glyphiconhead" href="#" title="Home"> </a></li>
        <li><a href="#about">Tableau de BORD</a></li>
        <li><a href="#">A propos de DNETP </a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="/users/register">Sign up</a></li>-->
            <li><a  href="#" title="Log in">Se connecter</a></li>
            <li><a href="#contact">Aide</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>